:root{
  --transition: background-color 0.5s linear;
  transition: var(--transition);
}

.code-editor-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.cm- * {
  transition: all 0.5s linear;
}

.task-id {
  font-family: monospace;
  color: #666;
  align-self: start;
}

.dark-theme .task-id {
  color: #cacaca;
}

footer {
  color: #666;
}

.dark-theme footer {
  color: #cacaca;
}

textarea {
  padding: 0;
}

.code-input {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  font-family: monospace;
  border: 1px solid #ccc;
}

.input-section {
  margin-bottom: 20px;
}

.input-box {
  width: 100%;
  height: 50px;
  font-family: monospace;
  border: 1px solid #ccc;
  padding: 0px;
  transition: var(--transition);
}

.button-group {
  align-self: end;
  margin-top: 10px;
}

.button-group button {
  margin-left: 10px;
  /* padding: 8px 16px; */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: var(--transition);
}

.btn-play {
  background-color: #4CAF50;
}

.btn-play:hover {
  background-color: #45a049;
}

.btn-build {
  background-color: #2196F3;
}

.btn-build:hover {
  background-color: #1e88e5;
}

.btn-clear {
  background-color: #f44336;
}

.btn-clear:hover {
  background-color: #e53935;
}

.btn-viz {
  background-color: #ff9800;
}

.btn-viz:hover {
  background-color: #e58e00;
}

.btn-download {
  background-color: #3b69ff;
}

.btn-download:hover {
  background-color: #2357ff;
}

.btn-theme{
  background-color: #5e32da;
}

.result-section {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  /* transition: var(--transition); */
}

.download-viz {
  margin-left: 0px;
  /* right:0px; */
  bottom: 10px;
  right: 10px;
  position: absolute;
}

.download-viz button{
  background-color: #a7a7a7;
  margin-left: 0px;
  margin-right: 10px;
}

.download-viz button:hover {
  background-color: #8a8989;
}

.dark-theme .download-viz button {
  background-color: #474747;
}

.dark-theme .download-viz button:hover {
  background-color: #5f5f5f;
}

.result-section pre {
  margin: 0;
  white-space: pre-wrap;
  font-family: monospace;
  /* transition: var(--transition); */
}

h1, h2, h3, p {
  font-family: sans-serif;
}